@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Lista de Articulos";
    Html.AntiForgeryToken();

    const int TOTAL_ARTICULOS = 6;

    var sesionUsuario = Html.ViewContext.HttpContext.Session.GetString("LoginUsuario");

    //Variables para mostrar los articulos segun la seleccion del usuario
    String sexo = "";
    String talle = "";
    String[] tiposDeRopa = new String[TOTAL_ARTICULOS];

    //Testeo para probar su funcion
    talle = "L";
    tiposDeRopa[0] ="Gorra";
    tiposDeRopa[1] = "Pantalon";


    var esVisible = true;
    if (!String.IsNullOrEmpty(sesionUsuario))
    {
        esVisible = false;
    }

    @functions{
        public String seMuestra(Boolean esVisible)
        {
            String retorno = "display:block";
            if (!esVisible)
            {
                retorno = "display:none !important";
            }
            return retorno;
        }
    }

}


<div class="row mt-4 mb-5">
    <aside class="col border-right">
        <div id="talle" class="mt-3">
            <h5>Talle</h5>
            <div class="form-check">
                <input class="form-check-input"
                       type="radio"
                       name="talle"
                       id="S"
                       value="option1" />
                <label class="form-check-label" for="talleS"> Small </label>
            </div>
            <div class="form-check">
                <input class="form-check-input"
                       type="radio"
                       name="talle"
                       id="M"
                       value="option2" />
                <label class="form-check-label" for="talleM"> Medium </label>
            </div>
            <div class="form-check">
                <input class="form-check-input"
                       type="radio"
                       name="talle"
                       id="L"
                       value="option3" />
                <label class="form-check-label" for="talleL"> Large </label>
            </div>
            <div class="form-check">
                <input class="form-check-input"
                       type="radio"
                       name="talle"
                       id="XL"
                       value="option4" />
                <label class="form-check-label" for="talleXL">
                    Extra-Large
                </label>
            </div>
        </div>
        <div id="Tipo Indumentaria" class="mt-3">
            <h5>Indumentaria</h5>
            <div class="form-check">
                <input class="form-check-input"
                       type="checkbox"
                       value=""
                       id="Remera" />
                <label class="form-check-label" for="remeras"> Remeras </label>
            </div>
            <div class="form-check">
                <input class="form-check-input"
                       type="checkbox"
                       value=""
                       id="Campera" />
                <label class="form-check-label" for="camperas"> Camperas </label>
            </div>
            <div class="form-check">
                <input class="form-check-input"
                       type="checkbox"
                       value=""
                       id="Buzo" />
                <label class="form-check-label" for="buzos"> Buzos </label>
            </div>
            <div class="form-check">
                <input class="form-check-input"
                       type="checkbox"
                       value=""
                       id="Pantalon" />
                <label class="form-check-label" for="jeans"> Pantalones </label>
            </div>
            <div class="form-check">
                <input class="form-check-input"
                       type="checkbox"
                       value=""
                       id="Zapatilla" />
                <label class="form-check-label" for="zapatillas">
                    Zapatillas
                </label>
            </div>
        </div>
    </aside>
    <section class="col-10">
        <div id="listaArticulos" class="row justify-content-between">
        </div>
    </section>
    <input type="hidden" class="sessionUsuario" id="@sesionUsuario"/>
</div>