@model IEnumerable<ProyectoPNT_MVC.Models.Articulo>
<!--
<tr>
    <td>
        ARROBAHtml.DisplayFor(modelItem => item.numeroArticulo)
    </td>
    <td>
        ARROBAHtml.DisplayFor(modelItem => item.precio)
    </td>
    <td>
        ARROBAHtml.DisplayFor(modelItem => item.descripcion)
    </td>
    <td>
        ARROBAHtml.DisplayFor(modelItem => item.nombre)
    </td>
    <td>
        <img src="ARROBAUrl.Content(item.imagen)" height="150px" ;>
    </td>
    <td>
        ARROBAHtml.DisplayFor(modelItem => item.stock)
    </td>
    <td>
        ARROBAHtml.DisplayFor(modelItem => item.talle)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id=" ARROBAitem.id">Edit</a> |
        <a asp-action="Details" asp-route-id=" ARROBAitem.id">Details</a> |
        <a asp-action="Delete" asp-route-id=" ARROBAitem.id">Delete</a>
    </td>
</tr>
    -->
